Marco's shepherd's review

Archived-At: <https://mailarchive.ietf.org/arch/msg/core/e7ISbZLSeqZy1Ow8aVkWDtg3K7c>

## Abstract

* [x] s/"CoAP Content-Formats" registry/"CoAP Content-Formats" IANA registry

* [x] s/"CoRE Parameters"/"Constrained RESTful Environments (CoRE) Parameters"

* [x] Even though the main contribution is the update to the registration procedures (per the document title), the abstract should also mention the new column added to the registry.

  Proposed new sentence at the end of the abstract:

  > Furthermore, this document adds a new column "Media Type" to the registry.

* [x] It says:

  > The affected registration procedures are specifically those regarding the IETF Review or IESG Approval portion of the registry as well as those regarding the First Come First Served (FCFS) portion of the registry.

  Actually, the new possibility to register temporary Content-Format identifiers concerns also the Expert Review portion of the original registry.

  Other than the Experimental use portion, all the other portions are affected by the updated registration procedures, although in different respects.

  As there is no portion to shortly highlight without going much more into detail, it feels like this sentence can simply be removed from the abstract.

  Putting together all the comments above, the new abstract can read:

  > This document updates RFC7252 regarding the registration procedures for the "CoAP Content-Formats" IANA registry, within the "Constrained RESTful Environments (CoRE) Parameters" registry group. Furthermore, this document adds a new column "Media Type" to the registry.


## Section 1

* [x] Proposed rephrasing:

  OLD:
  the "CoAP Content-Formats" registry within the "CoRE Parameters" registry group

  NEW:
  the "CoAP Content-Formats" IANA registry within the "Constrained RESTful Environments (CoRE) Parameters" registry group

* [x] Proposed rephrasing:

  OLD:
  This task is generally non-trivial, requiring knowledge from multiple documents and technologies, which is not a task to demand solely from the registrar.

  NEW:
  This task is generally non-trivial, requires knowledge from multiple documents and technologies, and is not to demand solely from the registrar.

* [x] Building on a previous comment about the abstract, the last paragraph in this section should take into account that: i) also the Expert Review portion is affected (by the possible registration of temporary Content-Format identifiers); and ii) a new column is added to the registry.

  Proposed rephrasing:

  OLD:
  > In Section 5, this document updates [RFC7252] by modifying the registration procedures for the "CoAP Content-Formats" registry regarding its IETF Review or IESG Approval portion as well as its FCFS portion, to mitigate the risk of unintentional or malicious errors.

  NEW:
  > In Section 5, this document updates [RFC7252] by modifying the registration procedures for the "CoAP Content-Formats" registry, to mitigate the risk of unintentional or malicious errors. These updates amend the different portions of the registry, introduce a review procedure to be performed for most portions of the registry, and allow to registering temporary Content-Format identifiers for some portions of the registry. Furthermore, a new column "Media Type" is added to the registry.


## Section 3

* [x] Proposed rephrasing:

  OLD:
  FCFS space that must

  NEW:
  FCFS portion of the "CoAP Content-Formats" registry, which must

* [x] Proposed rephrasing:

  OLD:
  IETF Review or IESG Approval space.

  NEW:
  IETF Review or IESG Approval portion of the registry.


## Section 5

* [x] #41

* [ ] s/Includes parameters/Parameters included

* [ ] s/appears in this registry/appear in this registry

* [x] Proposed rephrasing:

  OLD:
  requiring IETF Review with Expert Review or IESG Approval with Expert Review.

  NEW:
  requiring "IETF Review with Expert Review" or "IESG Approval with Expert Review".

* [x] s/will be Expert Review/is "Expert Review"

* [x] s/the checklist described/the procedure described

* [ ] It says:

  "A new column with the title "Note" has been added to the registry, which contains information about the expected review procedure."

  Why is this new column needed in the registry? Isn't it actually part of Table 8, as an amended overview of the registration procedures?

  For an entry added to the registry, it should be safe to assume that the right procedure associated with the range for the requested Content-Format ID was followed.

  Do you actually mean that the column "Note" has been added to the registration procedures, as shown in Table 8?


## Section 5.1

* [x] s/Or it may/Alternatively, it may

* [x] It says:

  "included in the IANA Provisional Standard Media Type Registry"

  Please add a reference to that registry, like in Section 5.2.

* [x] Proposed rephrasing:

  OLD:
  "TEMPORARY" in the corresponding registry entry

  NEW:
  "TEMPORARY", in the "Content Type" column of the corresponding registry entry

* [x] It says:

  "is included in the IANA Media Types registry"

  Please add a reference to that registry, like in Table 8.


## Section 5.2

* [x] s/can be placed directly/is placed directly

* [x] The second paragraph is not mentioning how the new column is updated in case a provisional media type is abandoned or made permanent.

  Suggestion to extend the second paragraph with the following new sentence:

  > If such a provisional media type is later abandoned or becomes permanent, IANA must update the "Media Type" field in the entries associated with that media type to be empty or to provide the hyperlink to registration information for that media type, respectively.

  (note the plural "entries", since multiple Content-Formats can be associated with the same media type, while differing as to media type parameters and/or content coding)


## Section 5.3

* [x] Point 2 of the checklist should also mention the case for the temporary registrations. Suggested rephrasing:

  OLD:
  The media type associated with the requested Content-Format must exist (or must have been approved for registration) in the "Media Types" registry [IANA.media-types];

  NEW:
  The media type associated with the requested Content-Format must exist (or must have been approved for registration) in the "Media Types" registry [IANA.media-types], or must be listed in the "Provisional Standard Media Type" registry [IANA.provisional-standard-media-types] (allowed only for Content-Format identifiers within the 0-255 and 256-9999 ranges);


## Section 5.4

* [x] s/the CoAP Content-Formats registry/the "CoAP Content-Formats" registry


## References

* [x] I think that the following references should be normative:

- [IANA.core-parameters]
- [IANA.http-parameters]
- [IANA.media-types]
- [IANA.provisional-standard-media-types]

* [x] Shouldn't RFC 9193 be a normative reference too?

* [x] As mentioned in Section 2 of the present document, some terms defined in Section 2 of RFC 9193 have to be understood as they are key terms used in the present document.


## Nits

* [x]  Section 1
--- s/For the (FCFS) portion/For the FCFS portion

* [x] Section 2
--- s/"content-type" and "content format"/"content-type", and "content format"

* [x] Section 5.1
--- s/requested by the authors/as requested by the authors
--- s/Internet Draft/Internet-Draft

* [x] Section 5.3
--- s/considerable code point/considerable codepoint

* [ ] Section 5.5
--- s/Type and parameters is/Type, and parameters is

* [x] Acknowledgments
--- s/suggestions and fixes/suggestions, and fixes





Addressed in #40 