Virtual?

From [Med’s review](https://mailarchive.ietf.org/arch/msg/core/a5xaEVG9TyY_vO8WjSxYeWjyC-w/)

```
CURRENT:
   This section updates Section 12.3 of [RFC7252] and introduces four
   new “virtual” subsections, 12.3.1 to 12.3.4.

These are not virtual but concrete additions to 7252. I suggest we delete that
mention.
```

The reasoning is that an existing RFC is read-only.  Therefore, the "actual" ToC of RFC7252 doesn't change as a result of this update.  However, its "virtual" ToC does.


Hi, joining the conversation here from my other comment on Issue #74 . Thanks for the reply Thomas. I still believe that the "virtual" word confuses more than clarifies. (This is for the sake of constructive argument, Thomas/Authors do not read any harm in my words:) If the RFC7252 is read-only, how is it that we are updating it? "This section updates Section 12.3 of [RFC7252]" , so having said that we are indeed updating that section, we can add and remove things, and we are effectively adding text and subsections (subsections are part of the section, or you consider the subsection and its title as metadata? maybe that is why all this). In other words, I would not be shocked to say that we introduce new subsections within the Section 12.3 modifications. To be honest, before your comment I had not thought about the ToC (or a virtual ToC) of RFC7252. We could eventually say that our modifications also  update the ToC of RFC7252. What would happen if the section we are modifying had other subsections that now we are not including? For me it is a non-issue to think about the ToC of the original document. For the sake of openness, I think that even with the word "virtual" the reader understands  that we have new content for the Section 12.3 of RFC7252 (the title remains the same) and within the new content we have new subsections. So in the end the message passes, but to be honest I had no Idea why the new subsections were "virtual" (however, the content of the subsections is not virtual but "real"?) when I first read the document.  Anyway I think too much ink was spent for just one word. I can live on even if you decide to keep the phrase as it as it is , you can close the issue/s no problem from my side.

Already three reviewers - Christer, Med and you - have stumbled on _virtual_.

Even if I am happy with it (and the CoRE WG too), and I think it captures an interesting nuance of the RFC update process, I am happy to drop it if it becomes a source of confusion.