Which text?

From [Med’s review](https://mailarchive.ietf.org/arch/msg/core/a5xaEVG9TyY_vO8WjSxYeWjyC-w/)

```
OLD: In particular, the text defines
NEW: In particular, Section 12.3 of [RFC7252] defines
```