“Current” will be stale

From [Med’s review](https://mailarchive.ietf.org/arch/msg/core/a5xaEVG9TyY_vO8WjSxYeWjyC-w/)

```
OLD:
   This section provides examples of registration requests for the "CoAP
   Content-Formats" Registry (as defined in Section 12.3 of [RFC7252]
   and revised according to [Err4954]) that are invalid but would be
   approved under the current procedure.

NEW:
   This section provides examples of registration requests for the "CoAP
   Content-Formats" Registry (as defined in Section 12.3 of [RFC7252]
   and revised according to [Err4954]) that are invalid but would be
   approved under the old procedure.

Or

NEW:
   This section provides examples of registration requests for the "CoAP
   Content-Formats" Registry (as defined in Section 12.3 of [RFC7252]
   and revised according to [Err4954]) that are invalid but would be
   approved under the procedure in [RFC7252].
```